<h3 class="results-title">
  النتائج
</h3>
<igx-card class="result-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      نتائج اختبار اللغة العربية
    </h3>
    <h5 igxCardHeaderSubtitle>
      درجة 85%
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-qs5lrn">
      <p class="result-text-1">
        تفاصيل أدائك في اختبار اللغة العربية مع نقاط القوة والضعف.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="result-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      متابعة التقدم العام
    </h3>
    <h5 igxCardHeaderSubtitle>
      النسبة المئوية: 78%
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-qs5lrn">
      <p class="result-text-1">
        رصد لتقدمك في جميع المواد الدراسية.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
