<h3 class="exams-title">
  الاختبارات
</h3>
<igx-card class="exam-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      اختبار اللغة العربية التجريبي
    </h3>
    <h5 igxCardHeaderSubtitle>
      نموذج 2023
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-0rdtb">
      <p class="exam-text-1">
        اختبر معلوماتك في اللغة العربية مع هذا النموذج التجريبي.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="exam-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      اختبار الرياضيات: أسئلة سابقة
    </h3>
    <h5 igxCardHeaderSubtitle>
      دورات 2020-2022
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-0rdtb">
      <p class="exam-text-1">
        مجموعة من أسئلة الرياضيات من امتحانات البكالوريا السابقة.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
