<h3 class="lessons-title">
  الدروس
</h3>
<igx-card class="lesson-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      اللغة العربية: النحو والصرف
    </h3>
    <h5 igxCardHeaderSubtitle>
      الوحدة الأولى
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-i1n5ll">
      <p class="lesson-text-1">
        شرح مفصل لقواعد النحو والصرف الأساسية مع أمثلة تطبيقية.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="lesson-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      الرياضيات: الجبر والهندسة
    </h3>
    <h5 igxCardHeaderSubtitle>
      الوحدة الثانية
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-i1n5ll">
      <p class="lesson-text-1">
        مراجعة شاملة لمفاهيم الجبر والهندسة الهامة استعداداً للامتحان.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
