<h3 class="resources-title">
  المصادر
</h3>
<igx-card class="resource-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      مكتبة الكتب الإلكترونية
    </h3>
    <h5 igxCardHeaderSubtitle>
      كتب مدرسية ومراجع
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-9a3zj">
      <p class="resource-text-1">
        مجموعة من الكتب المدرسية والمراجع الهامة بصيغة إلكترونية.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="resource-card-1">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      روابط لمواقع تعليمية
    </h3>
    <h5 igxCardHeaderSubtitle>
      مواقع مفيدة للدراسة
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout column-layout-9a3zj">
      <p class="resource-text-1">
        روابط لأفضل المواقع التعليمية التي تساعدك في دراستك.
      </p>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
